@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <h1 style="font-family: 'Old English Text MT', fantasy">Welcome</h1> 
    <p style="font-family: 'Old English Text MT', fantasy">Learn about Alchemy</p>
</div>
