@page
@model AlchemyPages.Pages.Admin.IndexModel
@{
}

<h2 class="text-center mb-3">Admin Options</h2>

<div>
    <a class="btn btn-primary" asp-page="/Players/AddPlayerKnowledge">Update playerbook</a>

    @*add another option to update qualities perhaps as a seperate page  *@
    @*add delete player & entries button *@
    @*perhaps add a reset tables button*@


</div>