@page
@model AlchemyPages.Pages.Ingredients.EditModel
@{
}


<h2 class="text-center mb-3">Edit Ingredient</h2>

<form method="post">
    <div class="row g-2 mb-3">

        <div class="col-lg-6">

            <div class="card h-100">

                <div class="card-header">
                    Ingredient Details
                </div>
                <div class="card-body">

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Ingredient Id</label>
                        <div class="col-sm-8">
                            <input class="form-control-plaintext" readonly value="@Model.Ingredient.Id">
                
                        </div>

                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Ingredient Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="ingredientCreate.Name">
                            <span asp-validation-for="ingredientCreate.Name" class="text-danger"> </span>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Ingredient Type</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="ingredientCreate.Type">
                            <span asp-validation-for="ingredientCreate.Type" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Element</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="ingredientCreate.Element">
                            <span asp-validation-for="ingredientCreate.Element" class="text-danger"> </span>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="ingredientCreate.Description">
                            <span asp-validation-for="ingredientCreate.Description" class="text-danger"> </span>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="col-lg-6">

        <div class="card h-100">

            <div class="card-header">
                Ingredient Qualities
            </div>

            <div class="card-body">

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Quality I</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="ingredientCreate.qualityOne">
                        <span asp-validation-for="ingredientCreate.qualityOne" class="text-danger"> </span>
                    </div>

                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Quality II</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="ingredientCreate.qualityTwo">
                        <span asp-validation-for="ingredientCreate.qualityTwo" class="text-danger"> </span>
                    </div>

                </div><div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Quality III</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="ingredientCreate.qualityThree">
                        <span asp-validation-for="ingredientCreate.qualityThree" class="text-danger"> </span>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="col-lg-6">

        <div class="card h-100">
            <div class="card-header">
                Image
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">File Directory</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="ingredientCreate.imageFileLocation">
                        <span asp-validation-for="ingredientCreate.qualityOne" class="text-danger"> </span>
                    </div>
                </div>


            </div>


        </div>

    </div>

    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <a class="btn btn-outline-primary" asp-page="/Ingredients/Index" role="button">cancel</a>

</form>