@page
@model AlchemyPages.Pages.Players.AddPlayerKnowledgeModel
@{
}



<form method="post">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

  <div class="row mb-3">
        <div class="col-md-3 me-3">
            <label class="form-label w-100 text-start"> <strong>Player</strong> </label>
            <select class="form-select w-100" asp-for="PlayerKnowledge.PlayerID" asp-items="Model.Players"></select>
      </div>
        <div class="col-md-3 me-3">
            <label class ="form-label w-100 text-start"> <strong>Ingredient</strong> </label>
            <select class="form-select w-100" asp-for="PlayerKnowledge.IngredientId" asp-items="Model.Ingredients"></select>
      </div>
        <div class="col-md-3 me-3">
            <label class="form-label w-100 text-start"> <strong>Qualities Known</strong> </label>
            <select class="form-select w-100" asp-for="PlayerKnowledge.QualitiesKnown" asp-items="Model.QualitiesKnown"></select>
      </div>
        <div class="col-md-2 align-self-end">
      <button type="submit" class="btn btn-primary w-100">Submit</button>
      </div>
  </div>

    
</form>

<div class="col">
    <a class="btn btn-primary w-100" asp-page="/Admin/Index">Return To Admin</a>
</div>